:root {
  font-family: "Inter", sans-serif;
  font-size: 15px;
}
body {
  /* min-width: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.app {
  /* position: relative; */
  width: 325px;
  display: grid;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  gap: 2rem;
  padding: 1rem;
}
p {
  color: hsl(236, 13%, 42%);
  line-height: 1.7;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: hsl(240, 100%, 5%);
}
a:hover {
  color: hsl(5, 85%, 63%);
}

.menu-bar {
  position: relative;
  z-index: 4;
  display: grid;
  /* width: 100%; */
  grid-template-columns: 1.5fr 8.5fr;
  align-items: center;
}
.topup {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 3rem;
  width: 75%;
  height: fit-content;
}

.nav-links {
  font-size: 1.3rem;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* padding: 1rem; */
}
.nav-links li {
  padding-left: 1rem;
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
  /* pointer-events: none; */
  transition: opacity 0.3s ease;
  z-index: 8;
}
.logo {
  scale: 70%;
  /* padding: 1rem; */
}
.btn-topup-mobile {
  background-color: hsl(36, 100%, 99%);
  border: none;
  cursor: pointer;
}

section {
  width: 100%;
  display: grid;
  gap: 4rem;
  /* position: relative; */
}

.img {
  width: 100%;
}
h1 {
  font-size: 3rem;
  font-weight: 800;
}
.btn-sec {
  background-color: hsl(5, 85%, 63%);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
.btn-sec:hover {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
}

.news {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(240, 100%, 5%);
  /* padding: 1rem; */
}
table {
  /* border-collapse: collapse; */
  /* width: 100%; */

  border-collapse: collapse;
  /* border-color: hsl(36, 100%, 99%); */
}
thead {
  text-align: left;
  color: hsl(35, 77%, 62%);
  font-size: 2rem;
}
thead th {
  border: none;
  /* color: hsl(36, 100%, 99%); */
}
tbody {
  border-collapse: collapse;
}
tbody td {
  border: solid 0.5px hsl(236, 13%, 42%);
  padding: 0.5rem;
}
tbody tr:first-child td {
  border-top: none;
}
tbody tr:last-child td {
  border-bottom: none;
}
tbody td:first-child {
  border-left: none;
}
tbody td:last-child {
  border-right: none;
}
tbody td h3 a {
  color: hsl(36, 100%, 99%);
}
tbody td h3 a:hover {
  color: hsl(35, 77%, 62%);
}

.articals {
  display: grid;
  gap: 2rem;
}
article {
  display: grid;
  grid-template-areas:
    "image order"
    "image titile"
    "image interpret";
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
article img {
  grid-area: image;
  width: 100%;
}
article h2 {
  grid-area: order;
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(5, 85%, 63%);
}
article h3 {
  grid-area: titile;
  margin: 0;
}
article p {
  grid-area: interpret;
  margin: 0;
}

.show {
  background-color: hsl(36, 100%, 99%);
  height: 100vh;
}
.open,
.sr-only,
.openover {
  display: none;
}

@media (min-width: 1200px) {
  .app {
    width: 1100px;
  }
  .overlay {
    display: none;
    z-index: -1;
  }
  section {
    grid-template-areas:
      "fistNew news"
      "artical artical";
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }
  .first-new {
    display: grid;
    grid-template-areas:
      "pic pic"
      "tile des"
      "tile but";
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .first-new picture {
    grid-area: pic;
  }
  .first-new h1 {
    grid-area: tile;
  }
  .first-new p {
    grid-area: des;
  }
  .first-new button {
    grid-area: but;
  }
  .articals {
    grid-area: artical;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* width: 100%; */

  .topup {
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  .nav-links {
    flex-direction: row;
    align-items: end;
    justify-content: end;
  }
  .logo {
    scale: 100%;
  }
  .open {
    display: flex;
  }
  .btn-topup-mobile {
    display: none;
  }
}
